#impt{color:red; 
    background-color: chartreuse;
    text-align: center;
    border: 8px black solid;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 80px;
    /* This is my first comment in GitHub */
}
h2{color:blueviolet}